* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}
/* start header */
.header__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
}
.header__container a {
  text-decoration: none;
  color: black;
  margin-left: 20px;
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.5s;
}
.header__container a:hover {
  color: #e62b4a;
}
.header__container .logo {
  font-size: 24px;
  font-weight: 700;
  color: white;
}
.header__container a.active {
  color: red;
}

/* end header */

/* start banner */
.banner {
  background-image: url(./image-video/home_slider.jpg);
  height: 90vh;
  min-height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner__container {
  text-align: center;
  width: 40%;
  color: white;
}
.banner__container h2 {
  font-size: 50px;
  font-weight: 700;
  margin: 30px 0;
}
.banner__container p {
  font-size: 20px;
}

.banner__container button {
  background-color: #e62b4a;
  color: white;
  padding: 15px 30px;
  border-radius: 16px;
  border: 1px solid #e62b4a;
  transition: 0.4s;
}
.banner__container button:hover {
  background: #af2239;
  cursor: pointer;
}
.banner__container i {
  font-size: 30px;
  animation-name: animate_arrow1;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}
/* end banner */
/* start carousel */

.carousel {
  padding: 60px;
  background: black;
  color: white;
}
.carousel__title {
  text-align: center;
  margin-bottom: 50px;
}
.carousel__title h3 {
  margin-bottom: 10px;
  color: #e62b4a;
  font-size: 14px;
  font-weight: 300;
}
.carousel__title h2 {
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 10px;
  font-family: "Oswald", sans-serif;
}

.carousel__title p {
  margin-top: 25px;
  font-size: 12px;
  font-weight: bold;
  color: gray;
  font-family: "Oswald", sans-serif;
}
.carousel__item {
  height: 250px;
  padding: 0 10px;
}
.carousel__item i {
  font-size: 30px;
}

.item__container {
  background: #fff;
  color: #888888;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.item__container::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 5px;
  background: #e62b4a;
  top: -100%;
  right: 0;
  transition: 0.3s;
}
.item__container:hover::before {
  top: 0;
}
.slick-dots li.slick-active button:before {
  color: red;
}
.slick-dots li button::before {
  font-size: 13px;
  color: white;
}
.slick-dots {
  bottom: -40px;
}

/* end carousel */

/* start Blogs */
.blogs {
  padding: 80px 0;
}
.blogs__list {
  display: grid;
  /* colum */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.blogs__item img {
  width: 100%;
  filter: grayscale(50%) contrast(50%);
  height: 100%;
}
.blogs__item.item-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.blogs__item.item-2 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

.blogs__item {
  position: relative;
}

.item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(230, 43, 74, 0.6);
  opacity: 0;
  transition: 0.5s;
}
.blogs__item:hover .item__overlay {
  opacity: 1;
}

.overlay__title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  transform: translateY(30px);
  transition: all 0.5s;
}

.overlay__search {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: white;
  text-align: center;
  line-height: 30px;
  transform: translateY(30px);
  transition: all 0.5s;
}

.blogs__item:hover .overlay__search,
.blogs__item:hover .overlay__title {
  transform: translateY(0px);
}
/* end Blogs */

/* start number */
.number {
  padding: 80px 0;
  background: #000;
  color: white;
}
.number__container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.number__item h3 {
  font-size: 40px;
  font-weight: 300;
}
.number__item p {
  font-size: 20px;
  font-weight: 200;
  color: #888888;
}

/* end number */

/* start experiecne */
.experience {
  background-image: url(./image-video/bussiness_img_1.jpg);
  padding: 80px 0;
  background-size: cover;
  background-attachment: fixed;
}
.experience video {
  width: 100%;
}
.experience__title {
  color: white;
  margin-bottom: 40px;
  text-align: center;
}
.experience__title h2 {
  font-size: 45px;
  font-weight: 350;
  padding-bottom: 20px;
}

.experience__title h4 {
  color: #e62b4a;
  font-size: 14px;
}
.experience__title p {
  font-size: 15px;
  color: #888888;
}
/* end experience */

/* start contact */
.contact {
  padding: 80px 0;
}
.contact__title {
  text-align: center;
  padding-bottom: 20px;
}
.contact__title h2 {
  padding-bottom: 10px;
  font-size: 40px;
  font-weight: 400;
}
.contact__title p {
  color: #888888;
  font-weight: 400;
  font-size: 12px;
}

.contact__content {
  display: flex;
}
.contact__map {
  padding-left: 30px;
  width: 100%;
}
.contact__form {
  padding-left: 30px;

  width: 50%;
  flex-direction: column;
}
.contact__form input {
  font-size: 13px;
  padding: 1em;
  border: 1px solid #888888;
  border-radius: 2px;
  margin-bottom: 25px;
}
.contact__form input:focus{
  border: 2px solid rgb(52, 42, 196);
  background-color: #d6cfd0;
}

.contact__form button {
  border-radius: 8px;
  border: 2px solid #984351;
  height: 30px;
  width: 100px;
  background-color: #000;
  color: white;
  transition: 0.25;
}
.contact__form button:hover {
  background-color: #e62b4a;
  border-color: #e62b4a;
}

/* end contact */

/* start footer */
footer {
  background-color: #000;
}
.footer__content p {
  font-size: 14px;
  color: white;
}

.footer__content a {
  width: 54px;
  height: 54px;
  display: inline-block;
  border-radius: 50%;
  line-height: 54px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  margin-left: 5px;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.5s;
}
.footer__content a:hover {
  background-color: #e62b4a;
  border-color: #e62b4a;
}

.footer__content {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}

/* end footer */

.backToTop {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
  text-align: center;
  background: rgba(0, 0, 0, 0.25);
  font-weight: bold;
  color: #fff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  /* visibility: hidden;
  opacity: 0; */
}
/* start animate */
@keyframes animate_arrow1 {
  from {
    transform: translateY(10px);
    opacity: 1;
  }
  to {
    transform: translateY(50px);
    opacity: 0;
  }
}

@keyframes animate_arrow2 {
  0% {
    color: orange;
    transform: scale(0.1) translateX(0px) rotate(0deg);
  }
  50% {
    color: white;
    transform: scale(2) translateX(100px) rotate(180deg);
  }
  100% {
    color: blue;
    transform: scale(1) translateX(-100px) rotate(-180deg);
  }
}
/* end animate */
